#content{
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
}
nav a{
  text-align: center;
  color: black;
  text-decoration: none;
  padding: 35px;
}
#hero-msg h1a{
  text-align: center;
}
#hero-msg h4{
  text-align: center;
}
.button-box{
  text-align: center;
}
main section{
  text-align: center;
}

#background{
  height: 725px;
  background-color: white;
}

body{
  background-color: white;
}
header{
  background-color: white;
}
nav a:hover{
  background-color:grey;
}
.book{
  background-color: white; 
  text-decoration: none;
}
.join{
  background-color: white; 
  text-decoration: none;
}
.book:hover{
  background-color: yellow;
}
.join:hover{
  background-color: pink;
}
.msg{
  background-color: aquamarine;
  padding: 35px;
}
footer{
  background-color: aquamarine;
  padding: 25px 50px;
  margin-top: 200px;
}

footer a{
  text-align: center;
  text-decoration: none;
}

footer p{
  font-size: 1.2em; 
  font-weight: bold;
}

footer p a:hover{
  text-decoration: underline;
}

footer .social img{
  padding-top: 15px;
}

.icon{
  width: 80px;
  padding-top: 10px;
}

.logo{
  width: 80px;
}

#hero-img{
  width: 100%;
}


.home-title {
  font-family: 'Rock Salt', 'Bradley Hand', sans-serif; /*the last two fonts are backups.*/
  font-size: 2em;
  margin-top: 10px;
}

.book, .join{
font-size: 18px;
padding: 15px 30px;
margin-top: 50px;
border-radius: 5px;
}

.msg p{
  font-size: 0.8em;
  background-color: white;
  line-height: 1.5em;
  padding-bottom: 15px;
}

body{
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}
#logo_link{
  padding-top: 5px;
}

.rivers-card, .camping-card, .rapids-card{
  margin: 200px 0;
}

.card-img {
  border: 10px solid #d9c2a3;
}
main section img{
  box-sizing: border-box;
}










